
body{
    justify-content:center;
    background-color: lavender;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.card{

   
overflow: hidden;

    padding: 2px;
    background-color: black;
    box-shadow: 3px 3px 10px 0;
    margin: 10px 0;


}



.card-body{
    background-color: beige;
}

.card-text{
    background-color: seashell;
    font-size: large;
    font-weight:200;
    color: black;
}
